.App {
  --header_height: 60px;
  /* Hometask № 1 */
  position: absolute;
  width: 165px;
  height: 27px;
  left: 70px;
  top: 131px;
}

.hw {
  width: 1397px;
  top: 167.5px;
  border-top: 3px solid rgb(217, 217, 217);
  border-bottom: 3px solid rgb(217, 217, 217);
  border-left: none; /* Убираем левую границу */
  border-right: none; /* Убираем правую границу */
}

.hwTitle {
  color: rgb(0, 0, 0);
 /* font-family: Montserrat, serif;*/
  font-size: 22px;
  font-weight: 600;
  line-height: 27px;
  text-align: left;
  margin-bottom: 9.5px;
}
