.message {}

.imageAndText {
  display: flex;
  flex-direction: row-reverse;
}

.imageAndText img {
  width: 48px;
  height: 48px;
  margin-top: 36.5px;
}

.text {
  position: relative;
  width: 515px;
  height: 60px;
  box-shadow: 0 1px 2px 0 rgba(29, 33, 38, 0.1), 0 5px 20px 0 rgba(29, 33, 38, 0.03);
  background: rgb(0, 102, 204);
  margin-top: 24.5px;
  margin-right: 10px;
  border-radius: 10px 10px 0 10px;

}

.text:after {
  content: '';
  position: absolute;
  right: -10px;
  /* Позиционирование стрелки справа от сообщения */
  top: 45px;
  /* Вертикальное позиционирование стрелки */
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 0px solid transparent;
  border-left: 15px solid rgb(0, 102, 204);
  /* Цвет стрелки совпадает с цветом сообщения */
}

.name {
  display: flex;
  justify-content: end;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  color: #DDEEFF;
  padding: 7px 13px 0 0;
}

.messageText {
  display: flex;
  color: #DDEEFF;
  padding: 5px 13px 8px 13px;
  font-size: 16px;

}

.time {
  display: flex;
  flex-direction: row-reverse;
  padding-right: 9px;
  padding-top: 5px;
  font-size: 10px;
  font-weight: 600;
}
