.friendMessage {}

.friendImageAndText {
  display: flex;
  flex-direction: row;
}

.friendImageAndText img {
  width: 48px;
  height: 48px;
  margin-top: 36.5px;
}

.friendText {
  position: relative;
  width: 414px;
  height: 60px;
  box-shadow: 0 1px 2px 0 rgba(29, 33, 38, 0.1), 0 5px 20px 0 rgba(29, 33, 38, 0.03);
  background: rgb(245, 247, 251);
  margin-top: 24.5px;
  margin-left: 10px;
  border-radius: 10px 10px 10px 0;
}

.friendText:before,
.friendText:after {
  content: '';
  position: absolute;
  left: -10px;
  /* Позиционирование стрелки слева от сообщения */
  bottom: 0px;
  /* Вертикальное позиционирование стрелки */
  width: 0;
  height: 0;
  border-right: 15px solid rgb(245, 247, 251);
  /* Цвет стрелки совпадает с цветом сообщения */
  border-top: 15px solid transparent;
  border-bottom: 0px solid transparent;
}

.friendText:before {
  border-right-color: rgba(29, 33, 38, 0.03);
  /* Цвет тени */
  left: -10.9px;
  /* Смещение тени */
  bottom: -1.5px;
  /* Смещение тени */
  z-index: -1;
  /* Помещаем тень за треугольник */
}

.friendName {
  display: flex;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  padding: 7px 0 0 13px;
}

.friendMessageText {
  display: flex;
  padding: 5px 13px 8px 13px;
  font-size: 16px;
}

.friendTime {
  display: flex;
  flex-direction: row;
  padding-top: 5px;
  padding-left: 9px;
  font-size: 10px;
  font-weight: 600;
}
