.App {
  --header_height: 60px;
  position: relative;
  width: 100%;
  /* Установлено на 100% */
  max-width: 1397px;
  /* Максимальная ширина */
  margin: 100px auto 0;
  /* Центрирование содержимого и отступ сверху */
  padding: 0 20px;
  /* Отступы для соответствия */
  box-sizing: border-box;
  /* Включаем отступы в ширину */

}

.hw {
  width: 100%;
  /* Ширина на 100% */
  max-width: 1397px;
  /* Максимальная ширина */
  margin: 0 auto;
  /* Центрирование содержимого */
  padding-top: 24.5px;
  /* Использование padding вместо top */
  border-top: 3px solid rgb(217, 217, 217);
  border-bottom: 3px solid rgb(217, 217, 217);
  border-left: none;
  border-right: none;
}

.hwTitle {
  display: flex;
  justify-content: space-between;
  color: rgb(0, 0, 0);
  font-size: 22px;
  font-weight: 600;
  line-height: 27px;
  margin-bottom: 9.5px;
  text-align: center;
  /* Центрирование текста */
  width: 100%;
  box-sizing: border-box;
  /* Включаем отступы в ширину */
  margin-top: 30px;
}

/* Медиазапросы для адаптивности */
@media (max-width: 1200px) {
  .hw {
    padding: 0 20px;
    /* Изменение отступов для экранов до 1200px */
  }

  .hwTitle {
    font-size: 20px;
    /* Изменение размера шрифта */
  }
}

@media (max-width: 992px) {
  .App {
    max-width: 150px;
    padding-top: 100px;
  }

  .hw {
    padding: 0 15px;
    /* Изменение отступов для экранов до 992px */
  }

  .hwTitle {
    font-size: 18px;
    /* Изменение размера шрифта */
  }
}

@media (max-width: 768px) {
  .App {
    max-width: 140px;
    padding-top: 80px;
  }

  .hw {
    padding: 0 10px;
    /* Изменение отступов для экранов до 768px */
  }

  .hwTitle {
    font-size: 16px;
    /* Изменение размера шрифта */
  }
}

@media (max-width: 576px) {
  .App {
    max-width: 120px;
    padding-top: 60px;
  }

  .hw {
    padding: 0 5px;
    /* Изменение отступов для экранов до 576px */
  }

  .hwTitle {
    font-size: 14px;
    /* Изменение размера шрифта */
  }
}
